<!DOCTYPE html>
<html lang="en" xmlns:th="http//:www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>

	<section>



		<div class=" container" style="margin-top: 70px">
			<div class="container-fluid  mb-3 display-flex decoration-none">


				<div class="row">


					<div class="col-md-14">



						<div class="card shadow-sm p-3  bg-body-tertiary rounded">



							<div class="card-body">
								<div class="container mt-5 p-5 bg-light">


									<div class="row">
										<div class="col-md-6 p-5 text-center offset-md-3">
											<h3>[[${msg}]]</h3>
										</div>

									</div>

								</div>
							</div>


						</div>



					</div>


				</div>



			</div>


		</div>

	</section>

</body>
</html>