<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Reset Password</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to the external CSS file -->
</head>

<body>

    <section>
        <div class="container login-container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card login-card shadow-lg">
                        <div class="card-header login-header text-center">
                            <h3>Reset Password</h3>
                        </div>
                        <div class="card-body bg-light p-4">

                            <th:block th:if="${session.succMsg}">
                                <p class="text-success text-center fw-bold">[[${session.succMsg}]]</p>
                                <th:block th:text="${@commonServiceImple.removeSessionMsg()}"></th:block>
                            </th:block>

                            <th:block th:if="${session.errorMsg}">
                                <p class="text-danger text-center fw-bold">[[${session.errorMsg}]]</p>
                                <th:block th:text="${@commonServiceImple.removeSessionMsg()}"></th:block>
                            </th:block>

                            <form action="/reset-password" method="post" id="resetPassword" novalidate>
                                <div class="mb-3">
                                    <label class="form-label">New Password</label>
                                    <input class="form-control input-field" name="password" type="password" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control input-field" type="password" required>
                                </div>

                                <input type="hidden" th:value="${token}" name="token">

                                <button type="submit" class="btn btn-custom w-100">Reset Password</button>
                            </form>

                        </div>

                        <div class="card-footer login-footer text-center">
                            <p>Go to login? <a href="/signin">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
